{% extends ('base.html.twig') %}

{% block content %}

    <div class="container">
        <div class="jumbotron">
            <div class="text-center alert alert-danger" role="alert">6 heures d'attentes entre chaque attack</div>
            <p class="text-center"><a href="index.php"><button type="button" class="btn btn-primary">Accueil</button></a></p>
        </div>
    </div>

{% endblock %}
