{% extends ('base.html.twig') %}

{% block content %}

     <div class="container">
         <div class="jumbotron">
             <h2 class="text-center">Bienvenue dans la baston</h2>
             <p>Créer un compte ou connectez vous, pour défier les autres dresseurs !</p>

             <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
         </div>
     </div>

{% endblock %}
